<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="DefaultVertices" value="-50,0; -25,-50; 25,-50; 50,0; 0,50" />
        <add key="Vertices" value="-100,0; -50,-50; 25,-50; 50,0; 0,50" />
    </appSettings>
</configuration>